*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monospace";
}
.navbar{
   width: 100%;
     padding: 5px 10vh;  /*for shifting the nav bar from the page*/

}
.navbar ul{
    display: flex; /*for making the bar horizontal*/
    list-style: none; /*for removing the bullets*/
}
.navbar ul a{
    margin-left: 20px; /* for giving spaces b/w the
    icons  from left*/
}
.content{ /*work in content and adding background image*/
    width: 100%;
    height: 80vh;
    padding-top: 30vh;
    background-image: linear-gradient(rgb(114, 107, 107),#000000c3),url(background1.jpg);

}

