*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monospace";
}
.navbar{
   width: 100%;
     padding: 5px 10vh;  /*for shifting the nav bar from the page*/

}
.navbar ul{
    display: flex; /*for making the bar horizontal*/
    list-style: none; /*for removing the bullets*/
}
.navbar ul a{
    margin-left: 20px; /* for giving spaces from left b/w the
    icons*/
}
