*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monospace";
}
.navbar{
   width: 100%;
     padding: 10px 20vh;  /*for shifting the nav bar from the page*/

}
.navbar ul{
    display: flex; /*for making the bar horizontal*/
    list-style: none; /*for removing the bullets*/
}